name: Build docker image
on: 
  workflow_call:

jobs:
  build-docker:
    runs-on: buntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build image
        run: docker build -t ${{ inputs }} .
